body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cartcolor{
  color: white;
}

.sameline
{
  flexDirection: "row";
  marginLeft: 20;
  justifyContent: 'space-evenly';
  margin-right: 10px;
}

.list-group-item.active {
  background-color: #2fd717;
  border-color: #2fd717;
}
.xpad{
  padding: 20px;
}